<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://unsplash.it/500/300');">
  <div class="card-category">Popular</div>
  <div class="card-description">
    <!-- using instance variables -->
    <!-- without !!! @restaurant -> takes info from dynamic part of iterater in index-->
    <h2> <%= card_restaurant.name %></h2>
    <p><%= card_restaurant.address %></p>
  </div>
  <img class="card-user" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
  <a class="card-link" href="#" ></a>
</div>

<!-- would need change to erb code -> image tags and <a> -->
